body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1edd0;
    color: #333;
    text-align: center;
}

header {
    background-color: #e5dba3;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #d6c26e;
    color: #5c3e27;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
